<section class="comments">
	<div class="comments-respond">
		<h3 class="comments-title">{{ __( 'Comments', 'wbkn' ) }}</h3>
		{{ comment_form }}
	</div>

	<div class="comments-responses">
		{% for cmt in post.get_comments() %}
			{% include "partials/comment.twig" with { comment : cmt } %}
		{% endfor %}
	</div>
</section>
