{# <?php #}

<p class="post-meta">
	<span class="post-meta__author">
		<span>{{ __( 'By', 'wbkn' ) }}</span>
		<a href="{{ post.author.path }}"> {{ post.author.name }} </a>
	</span>

	<span class="post-meta__date">{{ post.post_date|date }}</span>
</p>
