{# <?php #}

{% block html_head %}
	{% include 'partials/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		{% block header %}
			<header class="site-header">
				<div class="site-header__wrapper">
					{% include 'partials/site-logo.twig' %}

					{% include 'partials/nav-main.twig' %}
				</div>
			</header>
		{% endblock %}

		<main role="main" class="site-main">
			<div class="site-main__content">
				{% block content %}
					{{ __( 'Sorry, no content.', 'wbkn' ) }}
				{% endblock %}
			</div>

			{% if sidebar %}
				<aside class="site-main__sidebar">
					{{ sidebar }}
				</aside>
			{% endif %}
		</main>

		{% block footer %}
			{% include 'partials/footer.twig' %}
		{% endblock %}

		{{ function('wp_footer') }}

	</body>
</html>
