{% extends "base.twig" %}

{% block content %}
	<div class="page-content">
		<article class="article post-type-{{ post.post_type }}" id="post-{{ post.id }}">
			<section class="article-body">
				<h1 class="article-title">{{ post.title }}</h1>

				<div class="article-content">
					{{ post.content }}
				</div>
			</section>
		</article>
	</div>
{% endblock %}
