{# <?php #}

{% extends "base.twig" %}

{% block content %}
	<article class="page-article page-article--{{ post.post_type }}" id="post-{{ post.id }}">
		<section class="page-article__body">
			<h1 class="page-article__title">{{ post.title }}</h1>

			{% include "partials/post-meta.twig" %}

			<div class="page-article__content">
				{{ post.content }}
			</div>
		</section>

		{% include "partials/comments.twig" %}
	</article>
{% endblock %}
