.nav-main {

}

.nav-main__items {
	display: none;
	overflow: hidden;
	padding-left: 0;
	list-style-type: none;

	&.is-expanded {
		display: flex;
	}

	@include breakpoint(medium) {
		display: flex;
		flex-wrap: wrap;
		max-height: none;

		& > li {
		}
	}
}

.nav-main__item-link {
	padding: rem-calc(10);
}


// Link to open the nav
.nav-main__trigger {
	@include breakpoint(medium) {
		display: none;
	}
}
